
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.expanded {
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 76px;
    background: none;
    overflow-x: hidden;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
    a {
      text-decoration: none;
      color: aliceblue;
      text-shadow: 2px 2px 2px black;
    }
    h2 {
      text-decoration: underline;
      color: brown;
      font-size: 130%;
      font-style: italic;
      text-shadow: 2px 2px 2px black;
      padding: none;
      margin: none;
      position: absolute;
      top: 0%;
      left: 1%;
    }
}

.linkback {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 76px;
  background-image: linear-gradient(gray, black);
  overflow-x: hidden;
  opacity: .9;
}

.linkcontainer {
  position: absolute;
  width: 95%;
  right: 0%;
  height: 40%;
  padding: 0.2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
