.search-form {
  position: fixed;
  top: 12%;
  left: 5%;
  height: 80%;
  width: 55%;
  background: radial-gradient(deepskyblue, goldenrod);
  border: 4px black;
  border-radius: 4px;
  border-style: solid;
  padding: 0px;
  margin: 0px;
}

.display-field {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 12%;
  left: 5%;
  height: 80%;
  width: 55%;
  background: radial-gradient(goldenrod, deepskyblue);
  border: 4px black;
  border-radius: 4px;
  border-style: solid;
  padding: 0px;
  margin: 0px;
  overflow: scroll;
}

.flex-child {
  flex: 1 0 41%;
  margin: 1%;
}
