.map-container{
  position: fixed;
  top: 8%;
  left: 5%;
  width: 50%;
  height: 80%;
  overflow: hidden;
  margin: none;
  padding: none;
  border: 2px black;
  border-radius: 4px;
  border-style: solid;
}

.comments-container {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: auto;
  box-shadow: 0 0 2em honeydew;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0.1;
  text-shadow: 1px 1px 1px silver;
}

.individual-comment {
  margin: 1%;
  box-shadow: 1px 1px 3px black;
  align-self: center;
  background: linen;
}

.landmark-summary {
  margin: 1%;
  align-self: center;
  text-shadow: 1px 1px 1px honeydew;
  font-size: 200%;
  width: 76%;
}

.landmark-title-text {
  padding-bottom: 5%;
  font-size: 125%;
  text-decoration: double underline;
  text-align: center;
}

.trail-title {
  text-align: center;
  padding: 2%;
  font-size: 200%;
  text-decoration: underline;
  text-shadow: 2px 2px 2px gray;
}

.trail-summary {
  text-shadow: 1px 1px 1px gray;
  font-size: 125%;
  text-align: center;
}

.display-area {
  position: fixed;
  top: 8%;
  right: 5%;
  width: 39%;
  height: 80%;
  border: 2px black;
  border-radius: 4px;
  border-style: solid;
  background: radial-gradient(goldenrod, gray);
  overflow: scroll;
}

.display-nav {
  position: absolute;
  width: 100%;
  bottom: 2%;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: auto;
  justify-content: space-around;
  button{
    color: black;
    background: none;
    border-radius: 0;
    padding: 1.2em 5em;
    letter-spacing: 0.35em;
    font-size: 0.85em;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    margin: 1em;
    font-family: "Montserrat";
    font-weight: bold;
    box-shadow: inset 0 0 1em rgba(251,81,81,0.4), 0 0 1em rgba(251,81,81,0.4);
    border: #fb5454 solid 2px;
  }

  button:hover {
    background-color: #fb5454;
    box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 1.5em rgba(251,81,81,0.6);
  }
}

.form-latlon {
  align-self: center;
}

.proto-landmark {
  width: 80%;
  margin: 10%;
}

.landmark-image {
  width: 80%;
  height: auto;
  margin: 10%;
}

.landmark-nav {
  height: 100%;
  width: 10%;
  position: absolute;
  display: inline;
  z-index: 10;
  background: none;
  opacity: 0.1;
  transition: 0.25s;
}

.landmark-nav:hover {
  opacity: 1;
}

.prev {
  left: 0%;
}

.next {
  right: 0%;
}

.arrows {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 460px;
}

.fade-out {
  opacity: 0;
  transition: .3s;
}

.fade-in {
  opacity: 1;
  transition: .3s;
}

.comment-form{
	button{
    color: black;
    background: none;
    border-radius: 0;
    padding: 1.2em 5em;
    letter-spacing: 0.35em;
    font-size: 0.85em;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    margin: 1em;
    font-family: "Montserrat";
    font-weight: bold;
    box-shadow: inset 0 0 1em rgba(251,81,81,0.4), 0 0 1em rgba(251,81,81,0.4);
		border: #fb5454 solid 2px;
  }

	button:hover {
		background-color: #fb5454;
		box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 1.5em rgba(251,81,81,0.6);
	}
}

.trails-form{
  display: flex;
  justify-content: center;
	button{
    color: black;
    background: none;
    border-radius: 0;
    padding: 1.2em 5em;
    letter-spacing: 0.35em;
    font-size: 0.85em;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    margin: 1em;
    font-family: "Montserrat";
    font-weight: bold;
    box-shadow: inset 0 0 1em rgba(251,81,81,0.4), 0 0 1em rgba(251,81,81,0.4);
		border: #fb5454 solid 2px;
  }

	button:hover {
		background-color: #fb5454;
		box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 1.5em rgba(251,81,81,0.6);
	}
}

.trails-inputs-container {
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
//
// #landmark_file{
//   color: black;
//   background: none;
//   border-radius: 0;
//   padding: 1.2em 5em;
//   letter-spacing: 0.35em;
//   font-size: 0.85em;
//   transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
//   margin: 1em;
//   font-family: "Montserrat";
//   font-weight: bold;
//   box-shadow: inset 0 0 1em rgba(251,81,81,0.4), 0 0 1em rgba(251,81,81,0.4);
//   border: #fb5454 solid 2px;
// }
//
// #landmark_file:hover {
//   background-color: #fb5454;
//   box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 1.5em rgba(251,81,81,0.6);
// }
