.map-container{
  position: fixed;
  top: 8%;
  left: 5%;
  width: 50%;
  height: 80%;
  overflow: hidden;
  margin: none;
  padding: none;
  border: 2px black;
  border-radius: 4px;
  border-style: solid;
}

.display-area {
  position: fixed;
  top: 8%;
  right: 5%;
  width: 39%;
  height: 80%;
  border: 2px black;
  border-radius: 4px;
  border-style: solid;
  background: radial-gradient(goldenrod, deepskyblue);
  overflow: scroll;
}

.display-nav {
  position: absolute;
  width: 100%;
  bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proto-landmark {
  width: 80%;
  margin: 10%;
}

.landmark-image {
  width: 80%;
  height: auto;
  margin: 10%;
}
