.map-container{
  position: fixed;
  top: 8%;
  left: 8%;
  width: 50%;
  height: 80%;
  overflow: hidden;
  margin: none;
  padding: none;
  border: 2px black;
  border-radius: 4px;
  border-style: solid;
}
